"７１会議室は空いていますか"       :"71"
"７１会議室空いていますか"         :"71"
"７１会議室は空いてる"             :"71"
"７１会議室空いてる"               :"71"
"７１会議室は空いてますか"         :"71"
"７１会議室空いてますか"           :"71"
"７３会議室は空いていますか"       :"73"
"７３会議室空いていますか"         :"73"
"７３会議室は空いてる"             :"73"
"７３会議室空いてる"               :"73"
"７３会議室は空いてますか"         :"73"
"７３会議室空いてますか"           :"73"
"７１会議室が空いたらおしえて"     :"71"
"７１会議室空いたらおしえて"       :"71"
"７３会議室が空いたらおしえて"     :"73"
"７３会議室空いたらおしえて"       :"73"

