## 質問者への自己解決時のメール文面
"tmplOfFaqAutoResponseAnswer" : '''
{{user.name}} さま

お問合せの件は、次のFAQが該当するようです。

本回答は、担当者さまより回答を頂きました。


◆{{UnifiedFaqNo}}:

{{body}}
https://portal.sd.toshiba-global.com/kb_view.do?sysparm_article={{UnifiedFaqNo}}



～～～～～～～～～～～～～～～～～～～～～～～～～～～～～
～～～～～～～～～～～～～～～～～～～～～～～～～～～～～

■ご質問メール内容: 
----------------------------------------------------
{{question}} 
----------------------------------------------------
以上です。

'''
