## 二次受け窓口からの回答を転送・メール文面
"tmplOfFaqAutoReplyAnswer" : '''
{{dispatchTo}} さま

アシスタントAIモモチです。

以下の問い合わせがありましたので、回答をお願いします。


質問者: {{userName}} さま　({{userEmailAddress}})


■質問メール内容:
----------------------------------------------------
{{body}}
----------------------------------------------------
以上です。
'''
