## 二次受け窓口へのディスパッチ・メール文面
"tmplOfFaqAutoResponseDispatch" : '''
{{dispatchTo}} さま

アシスタントAIモモチです。 

以下の問い合わせがありましたので、回答をお願いします。 


質問者: {{userName}} ({{userEmailAddress}}) 


■質問メール内容: 
----------------------------------------------------
{{body}} 
----------------------------------------------------
以上です。
'''
