## セッション切れ(1ヶ月以上経過)・メール文面
"tmpOfPersonDirectoryResponseSessionTimeOut" : '''
アシスタントAIサービス、モモチです。

ご回答ありがとうございます。

せっかくご回答いただいたのに申し訳ありませんが、

お問い合わせからずいぶん時間が経ってしまいましたので、

質問者の方への転送は控えさせていただきます。

今後、同様の問い合わせがありましたら、私から回答いたします。

'''
