## 質問問合せへのディスパッチ・メール文面
"tmpOfPersonDirectoryDispatch" : '''
アシスタントAIサービス、モモチです。

ある方から私宛てに以下の質問をいただいたのですが、

なにかご存知のことがあれば、教えていただけないでしょうか。

もし、ご回答をいただければ、質問者の方に転送させていただきます。

なお、匿名で回答しますので、本文中の個人情報は消していただければ助かります。

'''
